= form_for user, :url => {:controller => :edit_user, :action => :update} do |f|
  %table{:class => :scaffold_table}
    %tr
      %td= 'Страна'
      %td= select_tag :country, options_for_select([['Не указано', 0]] + Setting.countries.collect{|c| [c.value, c.id]}, user.city.country.id)
    %tr
      %td= f.label :city_id, 'Город'
      %td= f.select :city_id, [['Не указано', 0]] + City.where(:country_id => user.city.country.id).all.collect{|c| [c.name, c.id]}, {}, {:id => 'country_city_id'}
    %tr
      %td= f.label :mobile_phone, 'Мобильный телефон'
      %td= f.text_field :mobile_phone
    %tr
      %td= f.label :skype, 'Skype'
      %td= f.text_field :skype
    %tr
      %td= f.label :web_site, 'Веб сайт'
      %td= f.text_field :web_site
    %tr
      %td
      %td= f.submit 'Сохранить'