%html
  %head
    %title Social
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"
    = javascript_include_tag "application", "user" 
    = csrf_meta_tags
    = tinymce_assets
    = tinymce
  %body
    #main
      #left
        - if @user && @user.id
          %ul
            %li= link_to 'Моя страница', :controller => :user, :action => :show, :id => @user.id
            %li= link_to 'Мои друзья', :controller => :user, :action => :get_friends
            %li= link_to 'Мои сообщения (' + @user.get_fresh_messages_count.to_s + ')', :controller => :user, :action => :get_dialogs
        - else
          %ul
            %li= link_to 'Зарегистрироваться', :controller => :login, :action => :register
            %li= link_to 'Войти', :controller => :login, :action => :index
      #right
        = yield